In [1]:
import numpy as np
import pandas as pd
import random

from surprise import SVD
from surprise import SVDpp
from surprise import NMF
from surprise import KNNBasic
from surprise import KNNWithZScore
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate

from surprise.model_selection import GridSearchCV

my_seed = 0
random.seed(my_seed)
np.random.seed(my_seed)

In [2]:
# train and test data sets
train_data = pd.read_csv('./Files_Folder/train_data.csv')

test_data = pd.read_csv('./Files_Folder/test_data.csv')

In [3]:
print (train_data.shape)
print (test_data.shape)

(495062, 12)
(27503, 12)

In [4]:
# Reading all the predicted values
train_data_pred = pd.read_csv('./Files_Folder/Predicted_train_Result_SVD.csv')
test_data_mean_pred = pd.read_csv('./Files_Folder/Predicted_test_SVD_mean.csv')
test_data_median_pred = pd.read_csv('./Files_Folder/Predicted_test_SVD_median.csv')

In [5]:
print (train_data_pred.shape)
print (test_data_mean_pred.shape)
print (test_data_median_pred.shape)

(495062, 3)
(27503, 3)
(27503, 3)
(27495, 3)
(8, 3)
(8, 3)

In [6]:
train_data_pred.dtypes

User_ID         int64
Product_ID     object
Purchase      float64
dtype: object

In [7]:
train_data_pred.columns = ['User_ID', 'Product_ID', 'Predicted_Purchase']
test_data_mean_pred.columns = ['User_ID', 'Product_ID', 'Predicted_Purchase']
test_data_median_pred.columns = ['User_ID', 'Product_ID', 'Predicted_Purchase']

In [9]:
train_data_pred['Actual_Purchase'] = train_data['Purchase']
test_data_mean_pred['Actual_Purchase'] = test_data['Purchase']
test_data_median_pred['Actual_Purchase'] = test_data['Purchase']

In [10]:
train_data_pred['Error'] = train_data_pred['Predicted_Purchase'] - train_data_pred['Actual_Purchase']
test_data_mean_pred['Error'] = test_data_mean_pred['Predicted_Purchase'] - test_data_mean_pred['Actual_Purchase']
test_data_median_pred['Error'] = test_data_median_pred['Predicted_Purchase'] - test_data_median_pred['Actual_Purchase']

In [11]:
train_data_pred['Error_sq'] = train_data_pred['Error']*train_data_pred['Error']
test_data_mean_pred['Error_sq'] = test_data_mean_pred['Error']*test_data_mean_pred['Error']
test_data_median_pred['Error_sq'] = test_data_median_pred['Error']*test_data_median_pred['Error']

In [12]:
rmse_train_data_pred = np.sqrt(train_data_pred.Error_sq.sum()/train_data_pred.shape[0])
rmse_test_data_mean_pred = np.sqrt(test_data_mean_pred.Error_sq.sum()/test_data_mean_pred.shape[0])
rmse_test_data_median_pred = np.sqrt(test_data_median_pred.Error_sq.sum()/test_data_median_pred.shape[0])

In [13]:
print (rmse_train_data_pred)
print (rmse_test_data_mean_pred)
print (rmse_test_data_median_pred)

2043.858948138422
2408.484797052712
2408.714176669016

In [14]:
test_data_mean_pred.shape

(27503, 6)

In [15]:
test_data_mean_pred_2 = test_data_mean_pred.drop(test_data_newid.index)
test_data_mean_pred_2.shape

(27495, 6)

In [16]:
np.sqrt(test_data_mean_pred_2.Error_sq.sum()/test_data_mean_pred_2.shape[0])

2408.406716042237

In [17]:
train_data.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,4.950620e+05,495062.000000,495062.000000,495062.000000,338906.000000,150075.000000,495062.000000
mean,1.003027e+06,8.076748,0.409710,5.401764,9.844337,12.671438,9265.688885
std,1.727099e+03,6.523106,0.491781,3.935342,5.087848,4.124031,5023.842930
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001514e+06,2.000000,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,1.003075e+06,7.000000,0.000000,5.000000,9.000000,14.000000,8048.000000
75%,1.004473e+06,14.000000,1.000000,8.000000,15.000000,16.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000